{% extends 'base.html' %}

{% block head %}
<title>Posts</title> 
{% endblock %}

{% block body %}
<h2>Edit Post:</h2>
<form action='/posts/edit/{{post.id}}' method='POST'>
    Title: <input type='text' name='title' id='title' value={{post.title}}>
    <br>
    Post: <input type='text' name='content' id = 'content' value={{post.content}}>
    <br>
    Author: <input type='text' name='author' id = 'author' value={{post.author}}>
    <br>
    </intput>
    <input type='submit' value='Edit Post'>
</form>
{% endblock %}